body{
  margin: 0;
  background-color: gray; 
  color: gray;
}

nav {
  width: 100%;
  background-color: gray;
}

.hero{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 40px;
  background-color: silver;
  color: white;
}

.hero-texto{
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 40px;
  color: gold;
  margin-bottom: 10px;
}

.hero p {
  max-width: 500px;
}

.hero-boton{
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  background-color: gold;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.logo img {
  height: 45px;
  display: block;
}

.logo {
  margin-right: 30px;
}
.menu li {
  margin-right: 20px;
}

.right {
  margin-left: auto;
}

.menu li a {
  font-weight: bold;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu-comida{
  max-width: 1000px; 
  margin: 50px auto; 
  padding: 20px;
}

.menu-comida h2{
  color: gold;
  margin-bottom: 30px;
}

.categoria{
  margin-bottom: 40px; 
}

.categoria h3{
  color: gold;
  margin-bottom: 15px;
}

.items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item{
  background-color: white;
  border: 1px solid gold;
  border-radius: 10px;
  padding: 15px;
}

/* NOMBRE */
.item h4{
  margin-bottom: 5px;
}

/* DESCRIPCIÓN */
.desc{
  font-size: 13px;
  color: #ccc;
  margin-bottom: 10px;
}

/* PRECIO */
.precio{
  color: gold;
  font-weight: bold;
}